Brotli==1.0.9
brotlicffi==1.0.9.2
ConfigParser==5.3.0
cryptography==40.0.2
Cython==0.29.33
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==5.0.0
ipaddr==2.2.0
keyring==23.13.1
langchain==0.0.158
lockfile==0.12.2
lxml==4.9.2
mock==5.0.2
mypy_extensions==1.0.0
numpy==1.23.4
ordereddict==1.1
protobuf==4.22.4
pyOpenSSL==23.1.1
python-dotenv==1.0.0
simplejson==3.19.1
streamlit==1.18.1
streamlit_chat==0.0.2.2
typing_extensions==4.5.0
urllib3_secure_extra==0.1.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.9.0
zstandard==0.21.0
